.app-nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(141, 140, 140);
  border-bottom: 1px solid rgb(140, 140, 140);
  transition: .2s ease-in;
}